* { 
    box-sizing: border-box;
}   



.container {   
    margin-top: 20px; 
    width: 200px;   
    height: auto;  
    color: red;
    background-color: black; 
    border-radius: 10px;

    &--name {   
        margin-top: 20px;
        color: red;
    }
}   



.box {  
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    background-color: blueviolet;
}   

.dell { 
    margin-left: 10px;
}